<fb:header>My great application</fb:header>

<fb:tabs>
  <fb:tab-item href='<%= root_url %>' title='Home' selected='true'/>
  <fb:tab-item href='<%= root_url %>' title='Your things' />
</fb:tabs>

<p>
  Hi there <fb:name uid="loggedinuser" useyou="false" />!
Welcome to
  your first app.
</p>
<% if(params[:error_notice]) %>
  <fb:error message="<%= params[:error_notice] %>" />
<% end %>

<% if(params[:success_notice]) %>
  <fb:success message="<%= params[:success_notice] %>" />
<% end %>
<% form_for(@comment) do |f| %>
  <%= f.label(:comment, "Komentarz:") %>
  <br/>
  <%= f.text_area(:comment, :size => "20x5") %>
  <br/>
  <fb:submit>Dodaj</fb:submit>
<% end %>


<fb:wall>
  <% @friends_comments.each do |fc| %>
    <fb:wallpost uid="<%= fc.user.facebook_uid %>"><%= fc.created_at %> -- <%= fc.comment %></fb:wallpost>
  <% end %>
</fb:wall>
